<mat-toolbar color="primary" class="toolbar">
  <img src="/assets/chuck-norris.png"/>
  <span class="toolbar-title">Retrieve a random chuck joke</span>
</mat-toolbar>
<section class="categories-wrapper">
  <mat-card *ngFor="let category of categories" class="category-item">
    <mat-card-title>
      <span class="category-item-name">{{ category }}</span>
    </mat-card-title>
    <mat-card-subtitle>Category</mat-card-subtitle>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="getRandomJokeByCategory(category)"
      >
        {{ currentCategory === category ? "Another one" : "Show joke" }}
      </button>
    </mat-card-actions>
    <mat-card-content *ngIf="currentCategory === category">{{
      currentJoke
    }}</mat-card-content>
  </mat-card>
</section>
