.toolbar .toolbar-title {
  margin-left: 10px;
}

.categories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-wrapper .category-item {
  margin: 10px;
  min-width: 80vw;
  /* width: 80vw; */
}

.categories-wrapper .category-item .category-item-name {
  text-transform: capitalize;
}
